name: CI for MoSPI

on: 
  push:
    branches: 
      - main

jobs: 
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3
      
      - name: setup Node.js
        uses: actions/setup-node@v4
        with: 
          node-version: '20'

      - name: Setup Go
        uses: actions/setup-go@v4
        with:
          go-version: '1.21'
        
      - name: Install dependencies for backend
        run: cd backend && npm i && cd ..

      - name: Install dependencies for frontend
        run: cd frontend && npm i && cd ..

      - name: Build the Project
        run: cd backend && npm run build && cd .. && cd frontend && npm run build && cd ..

      - name: Build Go backend
        run: cd Go_Service && go build -o mospi-service cmd/main.go && cd ..


      
      

