name: CD for MoSPI

on:
  workflow_run:
    workflows: [CI for MoSPI]
    types: 
     - completed

jobs:
    deploy:
        runs-on: ubuntu-latest
        if: ${{ github.event.workflow_run.conclusion == 'success' }} 


        steps:
            - name: checkout code
              uses: actions/checkout@v3

           
            
            - name: Deploy to Ec2
              uses: appleboy/ssh-action@v1.0.3
              with:
                host: ${{ secrets.EC2_HOST }}
                username: ${{ secrets.EC2_USER }}
                key: ${{ secrets.EC2_KEY }}
                port: 22
                script: |
                    # --- repo details ---
                    REPO_DIR=/home/ubuntu/MoSPIHub
                    REPO_URL=https://github.com/dhanraj-12/MoSPIHub

                    # --- clone or pull ---
                    if [ -d "$REPO_DIR/.git" ]; then
                      echo 'Repo exists, pulling latest changes...'
                      cd "$REPO_DIR"
                      git reset --hard
                      git pull origin main
                    else
                      echo 'Repo does not exist, cloning...'
                      git clone "$REPO_URL" "$REPO_DIR"
                    fi

                    #============= GO setup ==================#
                     export PATH=$PATH:/usr/local/go/bin

                    if [ ! -d "/usr/local/go" ]; then
                        echo "Go directory not found. Installing..."
                        # -q silence output, -O saves to specific filename
                        wget -q https://go.dev/dl/go1.21.6.linux-amd64.tar.gz -O go.tar.gz
                        sudo rm -rf /usr/local/go && sudo tar -C /usr/local -xzf go.tar.gz
                        rm go.tar.gz
                        
                        # Persist for interactive sessions (optional but good)
                        # Grep checks if it's already there to avoid duplicate lines
                        if ! grep -q "/usr/local/go/bin" ~/.bashrc; then
                            echo 'export PATH=$PATH:/usr/local/go/bin' >> ~/.bashrc
                        fi
                    else
                        echo "Go is already installed at /usr/local/go."
                    fi
                    
                    go version


                    #============= Reddis setup ==================#
                      



                    if ! command -v redis-server &> /dev/null; then
                        echo "Redis not found. Installing..."
                        # Prevent interactive prompts during install
                        export DEBIAN_FRONTEND=noninteractive
                        sudo apt-get update
                        sudo apt-get install -y redis-server
                        sudo systemctl enable --now redis-server
                    else
                        echo "Redis is already installed."
                    fi
                    sudo systemctl start redis-server
                    




                    #============= ENV SETUP ==================#





                    # --- create .env ---
                    cat > "$REPO_DIR/backend/.env" << 'EOF'
                    PORT=${{ secrets.PORT }}
                    DB_USER=${{ secrets.DB_USER }}
                    DB_HOST=${{ secrets.DB_HOST }}
                    DATABASE=${{ secrets.DATABASE }}
                    DB_PASSWORD=${{ secrets.DB_PASSWORD }}
                    RDSPORT=${{ secrets.RDSPORT }}
                    MONGO_URI=${{ secrets.MONGO_URI }}
                    AWS_ACCESS_KEY_ID=${{ secrets.AWS_ACCESS_KEY_ID }}
                    AWS_SECRET_ACCESS_KEY= ${{ secrets.AWS_SECRET_ACCESS_KEY }}  
                    AWS_REGION="ap-south-1"
                    S3_BUCKET_NAME="uploadifybucket"
                    REDIS_HOST="127.0.0.1"
                    REDIS_PORT=6379
                    STATUS_HASH_KEY=${{ secrets.STATUS_HASH_KEY }} 
                    EOF


                    #============= NODEJS SETUP ==================#

                    #----export nvm path---
                    export NVM_DIR=~/.nvm
                    source ~/.nvm/nvm.sh
                    

                      

                    # --- build backend ---
                    cd "$REPO_DIR/backend"
                    npm ci
                    npm run build

                    # --- build + deploy frontend ---
                    cd ../frontend
                    npm ci
                    npm run build
                    sudo rm -rf /var/www/html/*
                    sudo cp -r dist/* /var/www/html/

                    # --- start backend with pm2 ---
                    cd ../backend
                    pm2 restart all || pm2 start dist/index.js --name mospihub-backend
                    cd ..


                    # --- build Go service ---
                    cd Go_Service
                    go mod download
                    go build -o mospi-service cmd/main.go
                    # --- start Go service with pm2 ---
                    pm2 restart mospi-service || pm2 start mospi-service --name mospi-service



            
    


